
<div ng-controller="homepage">
	
<!-- 	<div class="">
		Profile{{profileName}}
	</div> -->
	<div class="whole_container">
		<div class="header_container">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-2">
				<div class="header_logo_cont">
					<div class="header_logo">
						<img src="imgs/logo.png">
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
				<div class="header_right_cont">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-xs-12">
							<input type="" name="" placeholder="Email" class="form_inputtext">
						</div>
						<div class="col-lg-4 col-md-4 col-xs-12">
							<input type="" name="" placeholder="Password" class="form_inputtext">
						</div>
						<div class="col-lg-4 col-md-4 col-xs-12">
							<button class="head_login_but">Log In</button>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="forgot_password_cont">
								<a href="javascript:void(0)" class="forgotpass_text">Forgot password?</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="body_container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<div class="body_main_text">
						<h3>Your university is getting closer:</h3>
						<ul class="body_main_ul">
							<li>Learn Finance</li>
							<li>Practice in virtual Stock Exchange</li>
							<li>Connect with people and companies</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<div class="signup_page_form_cont">
						<div class="signup_form_card">
							<div class="card_header">
								<div class="card_header_text"> 
									Sign up Teacher
								</div>
								<div class="card_header_button">
									<!-- <button class="card_header_btn">Are You a teacher?</button> -->
									<h5 class="form_text text-center"> Specially Prepared for Teachers </h5>									
								</div>
							</div>
							<div class="card_body">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<div class="form_input_cont">
											<input class="form_inputtext" placeholder="Name" type="text" ng-model="teacher.username" name="username" required>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<div class="form_input_cont">
											<input class="form_inputtext" placeholder="Surname" type="text" ng-model="teacher.surname" name="surname" required>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="form_input_cont">
											<input class="form_inputtext inp_full" placeholder="Email" type="email" ng-model="teacher.email" name="email" required>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="form_input_cont">
											<input class="form_inputtext inp_full" placeholder="Password" type="password" ng-model="teacher.password" name="password" required>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="form_input_cont">
											<input class="form_inputtext inp_full" placeholder="Password" type="text" ng-model="teacher.university" name="university" required>
										</div>
									</div>
									<!-- <div class="form_h4_text">
									Birth Date
									</div> -->
								</div>
								<!-- <div class="row">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
										<div class="form_input_cont">
											<input class="form_inputtext" placeholder="Day" type="text" name="">
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
										<div class="form_input_cont">
											<input class="form_inputtext" placeholder="Month" type="text" name="">
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
										<div class="form_input_cont">
											<input class="form_inputtext" placeholder="Year" type="text" name="">
										</div>
									</div>
								</div> -->
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<button class="form_submit_but" ng-click="shiftTab(1);teacher_signup()">Join now</button>
									</div>
<!-- 									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<h5 class="form_text text-center"> - Or Sign up with - </h5>
									</div> -->
<!-- 									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<ul class="card_social_ul">
											<li class="social_li">
												<div class="social_cirlce">
													<i class="fa fa-facebook"></i>
												</div>
											</li>
											<li class="social_li">
												<div class="social_cirlce">
													<i class="fa fa-linkedin"></i>
												</div>
											</li>
											<li class="social_li">
												<div class="social_cirlce">
													<i class="fa fa-google-plus"></i>
												</div>
											</li>
										</ul>
									</div> -->
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="card_terms">
											By clicking the join now button you agree with the cookies policy, the privacy policy and terms and conditions.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>







<div class="container">
<!--   <h2>Modal Example</h2> -->
  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addStudent">Open Modal</button> -->
  <div class="modal fade" id="addStudent" role="dialog">
    <div class="modal-dialog">   
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
<!--           <h4 class="modal-title">Modal Header</h4> -->
          <ul class="step_head_ul">
          	<li class="step_head_li" id="step_head_1" data="1">Step 1 of 3</li>
          	<li class="step_head_li" id="step_head_2" data="2">Step 2 of 3</li>
          	<li class="step_head_li" id="step_head_3" data="3">Step 3 of 3</li>
          </ul>
        </div>
        <div class="modal-body">
        	<div class="step_body_container">
        		<ul class="step_body_ul">
        			<li class="step_body_li" id="step_body_1">
        				<div class="form_container">
        					<div class="form_head_text">
        						Do you have students? Add them
        					</div>
        					<div class="row">
        						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        							<div class="row">
        								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		        							<div class="input_upload">
		        								<input type="text" class="field_text" placeholder="Copy and Paste your mailing list" name="maillist"  ng-model="teacher.mail_list"/>
		        							</div>
	        							</div>
	        							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		        							<div class="input_upload">
		        								<input type="file" class="upload_text" placeholder="Find Your File(csv./other)" name="maillistfile" name="file" ngf-select="selectFile(teacher.mail_list_file)" ng-model="teacher.mail_list_file"/>
		        								<button class="upload_button">Upload</button>
		        							</div>
	        							</div>
	        							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        								<div class="form_head_text">
				        						Do you have students? Add them
				        					</div>
				        					<div class="input_text">
				        						<input type="text" class="field_text" placeholder="Name of the Group" name="groupname" ng-model="teacher.group_name" />
				        					</div>
	        							</div>
        							</div>
        						</div>
        						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        							<div class="modal_image_container">
        								<div class="modal_image">
        									<img src="" class="modal_banner">
        								</div>
        							</div>
        						</div>
        					</div>
        					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        						<div class="modal_but_cont">        							
        							<button class="modal_nxt_bt" ng-click="shiftTab(2)">Next</button>
        						</div>
        					</div>
        				</div>
        			</li>
        			<li class="step_body_li" id="step_body_2">
        				<div class="form_container">
        					<div class="form_head_text">
        						Create a virtual bag league for your students:
        					</div>
        					<div class="row">
        						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
	        						<div class="custom_num_list">
	        							<ul class="cust_num_ul"> 
	        								<li class="cust_num_li">
	        									<div class="cust_list_q">
	        										<span class="li_num">1</span>
	        										<span class="li_q">How long will it last for?</span>
	        									</div>
	        									<div class="cust_list_ans">         						
													<div class="row">
														<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
															<input type="date" class="date_form" placeholder="Start Date" name="maillistfile" ng-model="teacher.start_date" />
														</div>
														<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
															<input type="date" class="date_form" name="startdate"  ng-model="teacher.end_date"/>
														</div>
													</div>
	        									</div>       									
	        								</li>
	        								<li class="cust_num_li">
	        									<div class="cust_list_q">
	        										<span class="li_num">2</span>
	        										<span class="li_q">Which assets do you want to have?</span>
	        									</div>
	        									<div class="cust_list_ans">         						
													<div class="row">
														<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
															<div class="checkbox_cont">
																<ul class="check_cont_ul"> 
																	<li> 
																		<label class="check_label">   
																			<input type="checkbox" name="" ng-checked="teacher.assets == 1" ng-true-value="1" ng-false-vlaue="0" ng-model="teacher.assets">
																			<span class="check_text">Ibex35</span>
																		</label>
																	</li>
																	<li> 
																		<label class="check_label">   
																			<input type="checkbox" name="" ng-checked="teacher.assets == 2" ng-true-value="2" ng-false-vlaue="0" ng-model="teacher.assets">
																			<span class="check_text">Mercado continuo</span>
																		</label>
																	</li>
																	<li> 
																		<label class="check_label">   
																			<input type="checkbox" name="" ng-checked="teacher.assets == 3" ng-true-value="3" ng-false-vlaue="0" ng-model="teacher.assets">
																			<span class="check_text">Forex</span>
																		</label>
																	</li>
																</ul>
															</div>
														</div>
													</div>
	        									</div>       									
	        								</li>
	        								<li class="cust_num_li">
	        									<div class="cust_list_q">
	        										<span class="li_num">3</span>
	        										<span class="li_q">How do you want to call your league?</span>
	        									</div>
	        									<div class="cust_list_ans">
	        										<div class="row">
	        											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        												<input type="text" class="field_text ft2 blue" name="leaguename" ng-model="teacher.league_name" />
	        											</div>	
	        										</div>
	        									</div>
	        								</li>
	        								<li class="cust_num_li">
	        									<div class="cust_list_q">
	        										<span class="li_num">4</span>
	        										<span class="li_q">Virtual money to start:</span>
	        									</div>
	        									<div class="cust_list_ans">
	        										<div class="row">
	        											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        												<input type="text" class="field_text ft2 blue"  placeholder="" name="virtualmoney" ng-model="teacher.virtual_money" />
	        											</div>	
	        										</div>
	        									</div>
	        								</li>
	        							</ul>
	        						</div>
        						</div>
        						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        							<div class="modal_image_container">
        								<div class="modal_image">
        									<img src="" class="modal_banner">
        								</div>
        							</div>
        						</div>
        					</div>
        					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        						<div class="modal_but_cont">
        							<button class="modal_nxt_bt" ng-click="shiftTab(1)">Back</button>
        							<button class="modal_nxt_bt" ng-click="shiftTab(3)">Next</button>
        						</div>
        					</div>        					
        				</div>
        			</li>
        			<li class="step_body_li" id="step_body_3">
        				<div class="form_container">
        					<div class="form_head_text">
        						What do you want to see?
        					</div>
        					<div class="row">
        						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        							<div class="row">
        								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		        							<div class="form_head_text">
				        						Select the Feedback.
				        					</div>
	        							</div>
	        							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        								<div class="checkbox_cont">
												<ul class="check_cont_ul"> 
													<li> 
														<label class="check_label">   
															<input type="checkbox" ng-checked="teacher.feedback == 1" ng-true-value="1" ng-false-vlaue="0" ng-model="teacher.feedback">
															<span class="check_text">Benifits</span>
														</label>
													</li>
													<li> 
														<label class="check_label">   
															<input type="checkbox" ng-checked="teacher.feedback == 2" ng-true-value="2" ng-false-vlaue="0" ng-model="teacher.feedback">
															<span class="check_text">Number of Operations</span>
														</label>
													</li>
													<li> 
														<label class="check_label">   
															<input type="checkbox" ng-checked="teacher.feedback == 3" ng-true-value="3" ng-false-vlaue="0" ng-model="teacher.feedback">
															<span class="check_text">Total Profitability</span>
														</label>
													</li>
													<li> 
														<label class="check_label">   
															<input type="checkbox" ng-checked="teacher.feedback == 4" ng-true-value="4" ng-false-vlaue="0" ng-model="teacher.feedback">
															<span class="check_text">Average Profability per person</span>
														</label>
													</li>
												</ul>
											</div>
	        							</div>
        							</div>
        						</div>
        						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        							<div class="modal_image_container">
        								<div class="modal_image">
        									<img src="" class="modal_banner">
        								</div>
        							</div>
        						</div>
        					</div>
        					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        						<div class="modal_but_cont">
        							<button class="modal_nxt_bt" ng-click="shiftTab(2)">Back</button>
        							<button class="modal_nxt_bt" data-dismiss="modal" ng-click="start()">Start Now</button>
        						</div>
        					</div>
        				</div>        				
        			</li>
        		</ul>
        	</div>
        </div>
<!--         <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>
  
</div>

</div>

{% block javascripts %}
        
    <script  src="{{ asset('js/controllers/home.js') }}"></script>

{% endblock %}  

