

<!DOCTYPE html>
<html lang="en" ng-app="app" >

<head>
    
   <title>BBT</title>
   {% block stylesheets %}
       <link  rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
       <link  rel="stylesheet" href="css/font-awesome.min.css" >
       <link  rel="stylesheet" href="css/angular-chart.css" >
       <link  rel="stylesheet" type="text/css" href="css/ng-table.min.css">
       <link  rel="stylesheet" href="css/easytabs.css">
       <link  rel="stylesheet" href="css/main.css">
       <link rel="stylesheet" type="text/css" href="bower_components/angular-notify/dist/angular-notify.min.css" />
    {% endblock %}

    {% block javascripts %}
    
    <!--Javascript Frameworks-->
    <script  src="js/jquery-2.0.3.min.js"></script>
    <script  src="js/jquery.validate.min.js"></script>
    <script  src="js/angular.min.js"></script>
    <script  src="js/bootstrap.min.js"></script>
    <!--Bootstrap Dependencies-->
    <!-- <script  src="js/bootstrap-datepicker.js"></script> -->
    <script  src="js/moment.min.js"></script>
    <script  src="js/bootstrap-datetimepicker.min.js"></script>


    <!--Angular Dependencies-->
    <script  src="js/angular-sanitize.min.js"></script>
    <script  src="js/angular-touch.min.js"></script>
    <script  src="js/ui-bootstrap-tpls.js"></script>
    <script  src="js/angular-ui-router.min.js"></script>
    <script  src="js/ocLazyLoad.min.js"></script>
    <script  src="js/ui-utils.min.js"></script>
    <script  src="js/angular-inview.js"></script>

    <script  src="js/app.js"></script>
    <script  src="js/app.config.js"></script>
    <script  src="js/app.lazyload.js"></script>
    <!-- <script  src="js/app.router.js"></script> -->
    <script  src="js/jq/chart.js"></script>
    <script  src="js/jq/chartconfig.js"></script>
    <script  src="js/jq/legend.js"></script>
    <script  src="js/jq/moment.js"></script>
    <script  src="js/directives/easytabs.js"></script>
    <script  src="js/app.main.js"></script>

    <script  src="js/services/ui-load.js"></script>
    <script  src="js/directives/ui-jq.js"></script>
    <script  src="js/directives/ui-module.js"></script>
    <script  src="js/directives/d3.js"></script>
    <script  src="js/directives/ng-knob.js"></script>
    <script  src="js/directives/progressbar.js"></script>
    <script  src="js/directives/angular-chart.js"></script>
    <script  src="js/directives/ng-table.min.js"></script>
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDhK2HA-8bKkZpmb8BetOtwiXy6k9eNfdM'></script>
    <script  src="js/directives/lodash.js"></script>
    <script  src="js/directives/angular-simple-logger.js"></script>
    <script  src="js/directives/angular-google-maps.min.js"></script>
    <script  src="js/directives/infobox.js"></script>
    <script  src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script  src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="bower_components/angular-notify/dist/angular-notify.min.js"></script>

    {% endblock %}


</head>

<body ng-controller="AppCtrl">

{{ include('staff/partials/home.html.twig') }}

    

</body>

</html>
